.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  box-sizing: border-box;
  background-color: #1c1c1e;
  border-radius: 10px;
  color: #ffffff;
  width: 100%;
  height: 100%;
  text-align: left;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.icon {
  filter: invert(1);
  margin-bottom: 1rem;
  transition: filter 0.3s ease;
}

.content h3 {
  margin: 0;
  font-size: 0.6rem;
  font-weight: bold;
  transition: color 0.3s ease;
}

.content p {
  margin: 0;
  font-size: 0.6rem;
  color: #a6a6a6;
  transition: color 0.3s ease;
}

button:hover {
  background-color: #ffffff;
  color: #000000;
}

button:hover .icon {
  filter: invert(0);
}

button:hover .content h3,
button:hover .content p {
  color: #000000;
}

@media (max-width: 400px) {
  .content {
    h3 {
      font-size: 9px;
    }
    p {
      font-size: 7px;
    }
  }
}
