<div class="sign-up-container">
  <div class="border">
    <p id="chat-ai">C H A T A.I+</p>
  </div>
  <h1>SIGN IN</h1>
  <p>"Welcome back! Please log in to access your account."</p>

  <form
    class="signup-form"
    #signUpForm="ngForm"
    (ngSubmit)="loginUser(signUpForm.value)"
  >
    <div class="input-group">
      <label for="email">Email Address*</label>
      <input
        ngModel
        name="email"
        id="email"
        type="email"
        placeholder="ex. email@domain.com"
        required
      />
    </div>

    <div class="input-group">
      <label for="password">Password*</label>
      <div class="password-container">
        <input
          ngModel
          name="password"
          id="password"
          [type]="type"
          placeholder="Enter password"
          required
        />
        <img
          class="eye"
          [src]="img"
          alt="Show Or Hide Password"
          (click)="showOrHidePassword()"
        />
      </div>
    </div>
    @if(wrongCredentials){
    <p class="wrong-credentials">Please check your Crendentials.</p>
    } @if(error){
    <p class="wrong-credentials">{{ errorMessage }}</p>
    }

    <p class="terms">
      By SignIn into your account, you are consenting to our
      <a href="#">Terms of Service</a> and confirming that you have reviewed and
      accepted the <a href="#">Global Privacy Statement</a>.
    </p>

    <button class="btn-primary">Sign In</button>

    <div class="login-link">
      Not a member? <a (click)="changeUI()">SignUp</a>
    </div>

    <div class="alternative-signup">
      <hr />
      <div class="alt-buttons">
        <button class="btn-alt" (click)="loginWithGoogle()">
          <img src="google.png" alt="Google Logo" />
          Continue with Google
        </button>
        <button class="btn-alt">
          <img src="Apple-Logo.jpg" alt="Apple Logo" />
          Continue with Apple
        </button>
      </div>
    </div>
  </form>
</div>
