.home-page {
  display: grid;
  grid-template-columns: 25% 75%;
  grid-template-rows: 90% 10%;
  width: 100%;
  height: 100vh;
  background-color: var(--background-color);
}

.side-bar {
  grid-row: 1 / span 2;
  grid-column: 1;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.main-chat {
  grid-row: 1;
  grid-column: 2;
  display: flex;
  flex-direction: column;
  justify-content: end;
  position: relative;
}

.open-side-bar {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
  display: none;
}

.icon {
  cursor: pointer;
}

.input {
  max-width: 600px;
  width: 100%;
  align-self: flex-end;
  justify-self: center;
  padding: 0;
}

app-input {
  width: 100%;
}

app-side-bar {
  width: 100%;
  height: 100%;
}

.dark-icon {
  filter: invert(100%);
}

@media (max-width: 600px) {
  .side-bar {
    display: none;
    max-width: 400px;
  }

  .open-side-bar {
    display: block;
  }

  .main-chat {
    grid-row: 1;
    grid-column: 1 / span 2;
  }

  .input {
    grid-row: 2;
    grid-column: 1 / span 2;
  }

  /* Show sidebar on mobile when sidebar is open*/
  .mobile-sidebar-open .side-bar {
    display: block;
    grid-column: 1 / span 2;
  }

  /* Hide main chat and input on mobile when sidebar is open*/
  .mobile-sidebar-open .main-chat,
  .mobile-sidebar-open .input {
    display: none;
  }
}

@media (min-width: 600px) and (max-width: 1200px) {
  .home-page {
    grid-template-columns: 35% 65%;
  }
}
