* {
  margin: 0;
  padding: -1;
  box-sizing: border-box;
}

.space-between {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

main {
  height: 70%;
}

:host {
  box-sizing: border-box;
  padding: 20px;
  height: 100%;
  display: flex;
  flex-direction: column;
  background: linear-gradient(140deg, #5d6af1 50%, #9198e5 65%, #e66465 90%);
  color: white;
  max-height: 100vh;
}

.to-the-right {
  margin-left: 60px;
}

.icon {
  filter: invert(1);
}

.container {
  box-sizing: border-box;
  padding: 72px;
  height: 100%;
  width: 100%;
  gap: 40px;
}

header h1 {
  font-size: 3vw;

  letter-spacing: 2px;
}

#left-right {
  display: flex;
}

#left {
  max-width: 90%;
}

#right {
  display: flex;
  flex-direction: column;
}

#top {
  margin-top: 2.9vh;
}

#middle {
  margin-top: 4vh;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

#bottom {
  margin-top: 3vh;
}

header h2 {
  font-size: 2.7vw;
  font-weight: 30vw;
}

.chat {
  box-sizing: border-box;
  padding: 20px;
  border-radius: 15px;
  text-align: left;
}

.chat h3 {
  font-size: 1.7vw;
  font-weight: 600;
}

.response p,
.response ol {
  line-height: 2;
  font-size: 20px;
}

.response strong {
  color: #f0f0f0;
}

.text-field button {
  border: none;
  background: none;
  color: white;
  font-size: 2em;
  cursor: not-allowed;
}

.chat-ai-button {
  cursor: not-allowed;
  background-color: #6a63ff;
  color: white;
  border: none;
  border-radius: 2vw;
  padding: 0.5vw 1vw;
  font-size: 1vw;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 0.3vw;
  cursor: pointer;
  outline: none;
  box-shadow: 0px 0.1vw 0.2vw rgba(0, 0, 0, 0.15);
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.arrow-icon {
  font-size: 1vw;
}

.text-field {
  margin-left: 2.9vw;
  max-width: 80%;
  display: flex;
  align-items: center;
  background: rgba(254, 254, 254, 0.2);
  color: white;
  border-radius: 2vw;
  padding: 0.5vw;
}

.text-field i {
  color: white;
}

.text-field input {
  flex: 1;
  border: none;
  background: transparent;
  color: white;
  font-size: 1em;
  outline: none;
  cursor: not-allowed;
  text-align: left;
  padding-left: 0.7vw;
}

@media only screen and (max-width: 1300px) {
  .response p,
  .response ol {
    line-height: 2;
    font-size: 12px;
  }
}
