.card {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 100%;
  height: 100%;
  display: flex;
  box-sizing: border-box;
  padding: 5px;
  background-color: var(--cardBackground);
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(255, 255, 255, 0.1);
  border: none;
  transition: color 0.3s ease;
}

.arrow {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.card-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.card-content {
  flex-grow: 1;
}

.card-content h3 {
  margin: 0;
  font-size: 0.8rem;
  color: #000000;
  font-weight: bold;
  transition: color 0.3s ease;
}

.card-content p {
  margin: 0;
  font-size: 0.7rem;
  color: #555454;
  transition: color 0.3s ease;
}

.arrow .icon {
  filter: invert(0);
  transition: filter 0.3s ease;
}

.card:hover {
  background-color: #6967e4;
}

.card:hover .card-content h3,
.card:hover .card-content p {
  color: #ffffff;
}

.card:hover .arrow .icon {
  filter: invert(1);
}

@media (max-width: 400px) {
  .card-content {
    h3 {
      font-size: 13px;
    }
    p {
      font-size: 9px;
    }
  }
}
