<!-- <button class="card">
  <img src="QC.jpg" alt="Quantum Computing img" class="card-icon" />
  <br />
  <div class="card-content">
    <h3>"Explain"</h3>
    <p>Quantum computing in simple terms"</p>
  </div>
  <div class="arrow">
    <img class="icon" src="arrow-long-right.svg" />
  </div>
</button> -->

<button class="card">
  <img [src]="imgSrc" alt="Quantum Computing img" class="card-icon" />
  <br />
  <div class="card-content">
    <h3>"{{ title }}"</h3>
    <p>{{ description }}"</p>
  </div>
  <div class="arrow">
    <img class="icon" src="arrow-long-right.svg" />
  </div>
</button>
